<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338384596494-o0ar4bi23rvtf7l41dkqrds2nbsnu2kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338384596494-o0ar4bi23rvtf7l41dkqrds2nbsnu2kb</string>
	<key>API_KEY</key>
	<string>AIzaSyDp3CMsGHwaLwCVzFFVJPnvksh7ETxzBtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>338384596494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mollly.redentuapp</string>
	<key>PROJECT_ID</key>
	<string>redentutesttask</string>
	<key>STORAGE_BUCKET</key>
	<string>redentutesttask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338384596494:ios:0268b981dee18126a4565f</string>
	<key>DATABASE_URL</key>
	<string>https://redentutesttask.firebaseio.com</string>
</dict>
</plist>